#progressbar {
    display: inline-block;
    width: 100%;
    border-radius: 25px;
    border: 2px solid #002044;
    background: #ffffff;
}
.ui-progressbar {
    height: 1em;
}
.ui-progressbar .ui-progressbar-value {
    margin: 0px;
    background: #4BD37E;
    border-radius: 25px;
    border-color: #4BD37E;
}
.block-field-completeness h2 {
    display: inline;
    position: relative;
    top: 25px;
    font-weight: bold;
    font-size: 16px;
    color: #002044;
}
.block-field-completeness .content {
    max-width: 767px;
    width: 100%;
}
.block-field-completeness .percentage-wrapper {
    float: right;
    font-weight: bold;
    font-size: 16px;
    color: #002044;
}